<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subir y Descargar Archivos</title>
</head>
<body>
  <a href="/subir"><h1>Subir un archivo</h1></a>

  <h1>Descargar un archivo</h1>
  <form action="/download" method="get">
    <input type="text" name="filename" placeholder="Nombre del archivo">
    <button type="submit">Descargar</button>
  </form>

  <h1>Archivos subidos</h1>
  <a href="/files">Ver archivos subidos</a>
</body>
</html>
