<!DOCTYPE html>
<html>
    <%- include('template/cabecera'); %>
<body>
    <%- include('template/navbar'); %>
    <div class="container">
        <input type="text" id="username" placeholder="Usuario">
        <input type="text" id="title" placeholder="Titulo">
        <select name="type" id="type">
            <option value="manga" selected>Manga/Fotos</option>
            <option value="video">Video</option>
          </select>
        <input type="file" class="file-input" multiple>
        <button onclick="uploadFiles()">Publicar</button>
    </div>

    <script>
        function uploadFiles() {
            const input = document.querySelector('.file-input');
            const username = document.getElementById('username').value;
            const title = document.getElementById('title').value;
            const type = document.getElementById('type').value;
            const files = input.files;
            const formData = new FormData();

            formData.append('username', username);
            formData.append('title', title);
            formData.append('type', type);

            for (let i = 0; i < files.length; i++) {
                formData.append('files', files[i]);
            }

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>
    <%- include('template/sidebarScript'); %>
</body>
</html>
