<!DOCTYPE html>
<html>
    <%- include('template/cabecera'); %>
<body>
    <%- include('template/navbar', {nombre: user}); %>
    <div class="postscontainer" style="margin-top: 30vh; border-top: #fff 1px solid ;">
        <h1>Crear publicacion</h1>
        <div class="post">
        <input type="text" id="title" placeholder="texto de la publicacion">
        <input type="file" class="file-input" multiple>
        <button onclick="uploadFiles()">Publicar</button>
    </div>
    </div>


    <script>
        function uploadFiles() {
            const input = document.querySelector('.file-input');
            const title = document.getElementById('title').value;
            const files = input.files;
            const formData = new FormData();

            formData.append('title', title);

            for (let i = 0; i < files.length; i++) {
                formData.append('files', files[i]);
            }

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                window.location.href = '/'; 
            })
            .catch((error) => {
                console.error('Error:', error);
                window.location.href = '/login'; 
            });
        }
    </script>
    <%- include('template/sidebarScript'); %>
</body>
</html>
