 <!-- Sidebar -->
 <div
 class="w3-sidebar w3-bar-block w3-border-right"
 style="display: none"
 id="mySidebar"
>
 <button onclick="w3_close()" class="w3-bar-item w3-large">&times;</button>
 <a href="#" class="w3-bar-item w3-button">Cuenta</a>
 <a href="#" class="w3-bar-item w3-button">Categorias</a>
 <a href="/subir" class="w3-bar-item w3-button" style="background-color: rgb(72, 69, 225); color:white;">Subir</a>
</div>

<!-- Page Content -->
<div class="navbar">
 <button class="w3-button w3-xlarge" onclick="w3_open()">☰</button>
 <div class="w3-container">
   <a style="text-decoration: none;" href="/">
     <h1>OpenLib</h1>
   </a>
 </div>
</div> 